@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

$primary: #F1BB6A;
$red: #e76f51;
$green: #71EA83;
$cyan: #79CDF6;

// Update Bulma's global variables
$family-primary: "Poppins", sans-serif;
$family-secondary: "Manrope", "sans-serif";

// body

$text: black;
$text-strong: black;

$radius: .3rem;

$body-size: 11.5pt;
$body-line-height: 2;

// forms

$label-weight: 400;

// Import only what you need from Bulma
@import "./node_modules/bulma/bulma.sass";