@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary: #F1BB6A;

$red: #E64E4E;
$yellow: #FADF46;

// body

$family-primary: "Poppins", sans-serif;

$text: #111;
$text-strong: #111;

$radius: .3rem;

$body-size: 10pt;
$body-line-height: 2;

// forms

$label-weight: 400;

$button-color: #111;

@import "./node_modules/bulma/bulma.sass";

@import "./scss/elements/all";
@import "./scss/base/all";
